body {
    /* margin:0;
    padding:0; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #main-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#gameboard {
    width: 400px;
    height: 400px;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
}

.square {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white;
    position: relative;
    
}

.color1 {
    background-color: white;
    /* background-color: rgb(157, 157, 109);  */

}

.color2 {
    /* background-color: rgb(190 242 100); */
    background-color:  #4d7c0f;
    /* background-color: rgb(249 115 22); */
}

.square svg {
    height: 35px;
    width: 35px;
    position: relative;
    z-index: -9;
}
path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;

}

.black {
    /* fill: rgb(63, 63, 63); */
    fill: black;
}

.white {
    /* fill: white  */
    /* fill : rgb(157, 157, 109); */
    fill: rgb(157, 157, 109);
}
